# Emmanuel Princewill Orji (Student ID: d0bfe7)
## Graded Quiz Codes

In [1]:
# importing the necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Loading the Dataset
file_url = 'https://bit.ly/HDSC-StageOneDataset'
fuel_data = pd.read_csv(file_url)
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

### Question 1

In [3]:
A = [1, 2, 3, 4, 5]
B = [13, 21, 34]
A.extend(B) # Adds the elements of B to the elements of A in a single dimension
print(A)

[1, 2, 3, 4, 5, 13, 21, 34]

### Question 2`

In [4]:
# How to create an identity matrix in Python
np.identity(3)
# there's no function called eye(3) in the namespace
# Both np.array([1,0,0], [0,1,0], [0,0,1]) and np.array[(1,0,0), (0,1,0), (0,0,1)] will not work as well

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Question 3

In [5]:
# Fuel type code with the lowest average fuel cost per unit burned
fuel_data.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [6]:
fuel_data.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean().idxmin()

'gas'

### Question 4

In [7]:
# Standard Deviation and 75th Percentile of the measure of energy per unit in 2dp
round(fuel_data.describe()['fuel_mmbtu_per_unit'], 2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

### Question 5

In [8]:
# Skewness
round(fuel_data.skew(), 2)

utility_id_ferc1                  0.61
report_year                       0.01
fuel_qty_burned                  15.85
fuel_mmbtu_per_unit               4.14
fuel_cost_per_unit_burned        19.79
fuel_cost_per_unit_delivered    105.01
fuel_cost_per_mmbtu             171.68
dtype: float64

In [9]:
# Skewness for fuel quantity burned
round(fuel_data.skew()['fuel_qty_burned'], 2)

15.85

In [10]:
# Kurtosis
round(fuel_data.kurtosis(), 2)

utility_id_ferc1                    1.09
report_year                        -1.15
fuel_qty_burned                   651.37
fuel_mmbtu_per_unit                55.60
fuel_cost_per_unit_burned         485.26
fuel_cost_per_unit_delivered    11765.05
fuel_cost_per_mmbtu             29489.13
dtype: float64

In [11]:
# Kurtosis for fuel quantity burned
round(fuel_data.skew()['fuel_qty_burned'], 2)

15.85

### Question 6

In [12]:
# Calculate percentage of missing values as a factor of the total number of rows in three decimal places
print('percentage of missing values as a factor of the\
 total number of rows in three decimal places: {:.3f}'.format((fuel_data.isnull().sum().sum() / len(fuel_data) * 100)))

percentage of missing values as a factor of the total number of rows in three decimal places: 0.610

### Question 7

In [13]:
# Features with Dtype as 'object' are categorical features
# For the feature here (fuel_unit) is best handled with mode imputation
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

### Question 8

In [14]:
fuel_data.corr()['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

### Question 9

In [15]:
# Here, we try to find percentage change in fuel cost per unit burned in 1998 compared to 1994
fuel_cost_av_1994 = fuel_data.groupby(['report_year','fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum().loc[1994,'coal']
fuel_cost_av_1998 = fuel_data.groupby(['report_year','fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum().loc[1998,'coal']
change_percent = (fuel_cost_av_1998 - fuel_cost_av_1994) / (fuel_cost_av_1994) * 100
print('The percentage change in fuel cost per unit burned in 1998 compared to 1994 is {}%'.format(round(change_percent)))

The percentage change in fuel cost per unit burned in 1998 compared to 1994 is -21.0%

### Question 10

In [16]:
# Year with the highest average fuel cost per unit delivered
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values()

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64